<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


}

</style>

<b><center>
    <span style="font-size: 24pt; line-height: 1.2;">COMS W4111: Introduction to Databases</span><br>
    <span style="font-size: 24pt; line-height: 1.2;">Section 002, Spring, 2020</span><br>
</center></b>
<br><br>
<i><center>
<span style="font-size: 20pt; line-height: 1.2;">Lecture 7: SQL, App, Projects</span>
</center></i>

# Lecture Material

- The lecture material is on the site and repository.


- This Jupyter notebook is for running example code and sample applications.

# Set Up Environment

In [4]:
load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%sql mysql+pymysql://dbuser:dbuserdbuser@localhost/lahmansbaseballdb

'Connected: dbuser@lahmansbaseballdb'

In [3]:
%sql select * from people where playerid='willite01';

 * mysql+pymysql://dbuser:***@localhost/lahmansbaseballdb
1 rows affected.

[('willite01', 1918, 8, 30, 'USA', 'CA', 'San Diego', 2002, 7, 5, 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', 205, 75, 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01', datetime.date(1918, 8, 30), datetime.date(1939, 4, 20), datetime.date(1960, 9, 28), datetime.date(2002, 7, 5))]

# HW3, HW4: Project $-$ Analysis System

## Examples from PPT

- Building the player-year performance summaries.

In [ ]:
%%sql

use aaaaaFantasyBaseball;

drop table if exists aaaaaFantasyBaseball.player_performance_year;

create table aaaaaFantasyBaseball.player_performance_year as
    with player_basic
    as
    (
        select playerID, nameLast, nameFirst, bats, throws from people
    ),
     player_appearances_year as
     (
         select
            playerid, yearid, sum(g_all) as app_g_all, sum(gs) as app_g_s, sum(g_defense) as app_g_defense,
            sum(g_p) as app_g_p, sum(g_c) as app_g_c, sum(g_1b) as app_g_1b, sum(g_2b) as app_g_2b,
                sum(g_3b) as app_g_3b, sum(g_ss), sum(g_lf) as app_g_lf, sum(g_cf) as app_g_cf,
                    sum(g_rf) as app_g_rf
         from appearances group by playerid, yearid
     ),
     player_batting_year
    as
     (
         select playerid, yearid, sum(g) as bat_g, sum(g_batting) as g_batting,
                sum(ab) as bat_ab, sum(r) as bat_r, sum(h) bat_h,
                sum(h-`2b`-`3b`-hr) as bat_1, sum(`2b`) as bat_2, sum(`3b`) as bat_3,
                sum(hr) as bat_hr, sum(rbi) as bat_rbi, sum(sh) as bat_sh, sum(sf) as bat_sf,
               sum(`2b`) as b2, sum(`3b`) as b3, sum(hr) as hr, sum(bb) as bb
        from batting group by playerid, yearid
    ),
    player_pitching_year
    as
        (
        select playerid, yearid, sum(w) as p_w, sum(l) as p_l, sum(g) as p_g, sum(IPOuts) as p_IPOuts,
            sum(SV) as p_SV, sum(h) as p_h, sum(hr) as p_hr, sum(bb) as p_bb, sum(er) as p_er
            from pitching group by playerid, yearid
             )
select * from
	(select * from player_appearances_year left join player_batting_year using(playerid, yearid)) as x
    left join
    player_pitching_year using(playerid, yearid);

- Compute salary normalization information ...

In [ ]:
%%sql

drop table if exists aaaaaFantasyBaseball.normalized_salary_averages;

create table aaaaaFantasyBaseball.normalized_salary_averages as 
with annual_average_salary as
    (
        select yearid, round(avg(salary),0) as avg_salary from
            lahmansbaseballdb.salaries group by yearid
    ),
normalized_averages as
         (
             select yearid, avg_salary, cpi.value  as salary_factor,
                    round((avg_salary / cpi.value), 0) as normalized_avg_salary
             from annual_average_salary
                    join cpi on yearid=cpi.CPI_US_I
         ),
averages_and_yoy as
    (
        select a.yearid, a.avg_salary, a.salary_factor, b.avg_salary as prior_avg_salary,
               b.salary_factor as prior_salary_factor
            from normalized_averages as a join normalized_averages as b
                on a.yearid=b.yearid+1
    )
select yearid, avg_salary salary_factor,
       round(avg_salary/prior_avg_salary,3) avg_salary_yoy,
        round(salary_factor/prior_salary_factor,3) as salary_factor_yoy
            from averages_and_yoy
order by yearid desc;

- The query, my first pass, on the catcher question.

In [9]:
%%sql

use aaaaaFantasyBaseball;

with annual_batting_performance_salary as
         (
             select playerid,
                    yearid,
                    app_g_c,
                    (bat_h / if(bat_ab = 0, NULL, bat_ab))                                        as bat_avg,
                    ((bat_h + bb) / (bat_ab + bb))                                                as bat_obp,
                    ((bat_1 + bat_2 * 2 + bat_3 * 3 + bat_hr * 4) / if(bat_ab = 0, NULL, bat_ab)) as slg,
                    salary
             from player_performance_year
                      join
                  (select playerid, yearid, avg(salary) as salary
                   from lahmansbaseballdb.salaries
                   group by playerid, yearid) as a
                  using
                      (playerid, yearid)
             where bat_ab >= 100
         ),
 normalized_salary_batting_performance as
     (
         select yearid, playerid,  bat_obp, slg, app_g_c,
                round(salary/normalized_salary_averages.salary_factor,3) as relative_salary from
                  annual_batting_performance_salary join
                    normalized_salary_averages using(yearid)
     )
select
    yearid, playerid, nameLast, nameFirst, slg, relative_salary, round(slg/relative_salary,3) as slg_per_salary
from normalized_salary_batting_performance join lahmansbaseballdb.people using(playerid)
    where app_g_c > 100
    order by slg_per_salary desc
limit 5;

 * mysql+pymysql://dbuser:***@localhost/lahmansbaseballdb
0 rows affected.
5 rows affected.

[(2006, 'mccanbr01', 'McCann', 'Brian', Decimal('0.5724'), 0.118, 4.851),
 (2001, 'pierzaj01', 'Pierzynski', 'A. J.', Decimal('0.4409'), 0.092, 4.793),
 (2000, 'melusmi01', 'Meluskey', 'Mitch', Decimal('0.4866'), 0.108, 4.506),
 (2000, 'estalbo02', 'Estalella', 'Bobby', Decimal('0.4682'), 0.105, 4.459),
 (1993, 'piazzmi01', 'Piazza', 'Mike', Decimal('0.5612'), 0.129, 4.351)]

In [7]:
# /FantasyTeam/{teamID}/FantasyPlayer

%sql select * from teams where teamid='BOS' and yearid='2004'

 * mysql+pymysql://dbuser:***@localhost/lahmansbaseballdb
1 rows affected.

[(2450, 2004, 'AL', 'BOS', 'BOS', 'E', 1, 2, 162, 81, 98, 64, 'N', 'Y', 'Y', 'Y', 949, 5720, 1613, 373, 25, 222, 659, 1189, 68, 30, 69, 55, 768, 674, 4.18, 4, 12, 36, 4354, 1430, 159, 447, 1132, 118, 129, 0.981, 'Boston Red Sox', 'Fenway Park II', 2837294, 106, 105, 'BOS', 'BOS', 'BOS')]

In [8]:
%sql select * from appearances where teamid='BOS' and yearid='2004'

 * mysql+pymysql://dbuser:***@localhost/lahmansbaseballdb
51 rows affected.

[(84603, 2004, 'BOS', 2450, 'AL', 'adamste01', 19, 0, 0, 19, 19, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (84620, 2004, 'BOS', 2450, 'AL', 'alvarab01', 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (84627, 2004, 'BOS', 2450, 'AL', 'anderji02', 5, 0, 1, 5, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (84635, 2004, 'BOS', 2450, 'AL', 'arroybr01', 32, 29, 3, 32, 32, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (84637, 2004, 'BOS', 2450, 'AL', 'astacpe01', 5, 1, 0, 5, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (84678, 2004, 'BOS', 2450, 'AL', 'bellhma01', 138, 132, 138, 136, 0, 0, 0, 124, 16, 1, 0, 0, 0, 0, 1, 2, 1),
 (84745, 2004, 'BOS', 2450, 'AL', 'brownja04', 4, 0, 0, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (84760, 2004, 'BOS', 2450, 'AL', 'burksel01', 11, 8, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9, 3, 0),
 (84776, 2004, 'BOS', 2450, 'AL', 'cabreor01', 58, 58, 58, 57, 0, 0, 0, 0, 0, 57, 0, 0, 0, 0, 0, 0, 0),
 (84796, 2004, 'BOS', 2450, 'AL', 'castifr01', 2, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (84859, 2004, 'BOS', 2450, 'AL', 'crespce01', 52, 16, 52, 52, 0, 0, 0, 11, 0, 27, 10, 7, 2, 19, 0, 3, 8),
 (84879, 2004, 'BOS', 2450, 'AL', 'damonjo01', 150, 146, 150, 148, 0, 0, 0, 0, 0, 0, 0, 148, 0, 148, 1, 3, 1),
 (84882, 2004, 'BOS', 2450, 'AL', 'daubabr01', 30, 19, 30, 21, 0, 0, 14, 0, 0, 0, 6, 0, 1, 7, 0, 9, 1),
 (107358, 2004, 'BOS', None, None, 'dff9', 1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (84913, 2004, 'BOS', 2450, 'AL', 'dinarle01', 22, 0, 3, 22, 22, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (84917, 2004, 'BOS', 2450, 'AL', 'dominan01', 7, 1, 7, 6, 0, 1, 5, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0),
 (84953, 2004, 'BOS', 2450, 'AL', 'embreal01', 71, 0, 5, 71, 71, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85004, 2004, 'BOS', 2450, 'AL', 'foulkke01', 72, 0, 3, 72, 72, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85032, 2004, 'BOS', 2450, 'AL', 'garcino01', 38, 38, 38, 37, 0, 0, 0, 0, 0, 37, 0, 0, 0, 0, 1, 0, 0),
 (85118, 2004, 'BOS', 2450, 'AL', 'gutieri01', 21, 8, 21, 20, 0, 0, 0, 14, 0, 6, 0, 0, 0, 0, 0, 3, 3),
 (85209, 2004, 'BOS', 2450, 'AL', 'hyzduad01', 17, 0, 17, 14, 0, 0, 0, 0, 0, 0, 11, 0, 4, 14, 2, 3, 4),
 (85237, 2004, 'BOS', 2450, 'AL', 'jonesbo04', 3, 0, 0, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85244, 2004, 'BOS', 2450, 'AL', 'kaplega01', 136, 73, 136, 127, 0, 0, 0, 0, 0, 0, 18, 17, 101, 127, 2, 7, 19),
 (85262, 2004, 'BOS', 2450, 'AL', 'kimby01', 7, 3, 0, 7, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85312, 2004, 'BOS', 2450, 'AL', 'leskacu01', 32, 0, 1, 32, 32, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85351, 2004, 'BOS', 2450, 'AL', 'lowede01', 33, 33, 2, 33, 33, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85371, 2004, 'BOS', 2450, 'AL', 'malasma01', 19, 0, 1, 19, 19, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85379, 2004, 'BOS', 2450, 'AL', 'martian01', 11, 0, 2, 11, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85381, 2004, 'BOS', 2450, 'AL', 'martipe02', 33, 33, 1, 33, 33, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85383, 2004, 'BOS', 2450, 'AL', 'martisa01', 3, 0, 3, 3, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0),
 (85404, 2004, 'BOS', 2450, 'AL', 'mccarda01', 91, 31, 89, 77, 3, 0, 67, 0, 0, 0, 10, 0, 7, 17, 3, 23, 5),
 (85422, 2004, 'BOS', 2450, 'AL', 'mendora01', 27, 0, 0, 27, 27, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85431, 2004, 'BOS', 2450, 'AL', 'mientdo01', 49, 27, 49, 47, 0, 0, 47, 1, 0, 0, 0, 0, 0, 0, 0, 3, 2),
 (85434, 2004, 'BOS', 2450, 'AL', 'millake01', 150, 140, 150, 137, 0, 0, 69, 0, 0, 0, 20, 0, 55, 74, 8, 7, 0),
 (85444, 2004, 'BOS', 2450, 'AL', 'mirabdo01', 59, 42, 59, 53, 0, 53, 0, 0, 0, 0, 0, 0, 0, 0, 4, 4, 1),
 (85464, 2004, 'BOS', 2450, 'AL', 'muellbi02', 110, 108, 110, 110, 0, 0, 0, 14, 96, 0, 0, 0, 0, 0, 0, 1, 0),
 (85475, 2004, 'BOS', 2450, 'AL', 'myersmi01', 25, 0, 0, 25, 25, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85488, 2004, 'BOS', 2450, 'AL', 'nelsojo01', 3, 0, 0, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85496, 2004, 'BOS', 2450, 'AL', 'nixontr01', 48, 37, 48, 40, 0, 0, 0, 0, 0, 0, 0, 0, 40, 40, 3, 11, 0),
 (85522, 2004, 'BOS', 2450, 'AL', 'ortizda01', 150, 145, 150, 34, 0, 0, 34, 0, 0, 0, 0, 0, 0, 0, 115, 5, 0),
 (85617, 2004, 'BOS', 2450, 'AL', 'ramirma02', 152, 150, 152, 132, 0, 0, 0, 0, 0, 0, 132, 0, 0, 132, 19, 2, 0),
 (85629, 2004, 'BOS', 2450, 'AL', 'reesepo01', 96, 74, 96, 94, 0, 0, 0, 30, 0, 71, 0, 0, 0, 0, 0, 0, 7),
 (85659, 2004, 'BOS', 2450, 'AL', 'roberda07', 45, 19, 45, 38, 0, 0, 0, 0, 0, 0, 18, 16, 14, 38, 1, 2, 12),
 (85703, 2004, 'BOS', 2450, 'AL', 'schilcu01', 32, 32, 2, 32, 32, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85712, 2004, 'BOS', 2450, 'AL', 'seibeph01', 2, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85741, 2004, 'BOS', 2450, 'AL', 'snydeea01', 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0),
 (85799, 2004, 'BOS', 2450, 'AL', 'timlimi01', 76, 0, 4, 76, 76, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85834, 2004, 'BOS', 2450, 'AL', 'varitja01', 137, 122, 137, 130, 0, 130, 0, 0, 0, 0, 0, 0, 0, 0, 1, 13, 0),
 (85853, 2004, 'BOS', 2450, 'AL', 'wakefti01', 32, 30, 1, 32, 32, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85896, 2004, 'BOS', 2450, 'AL', 'willisc01', 28, 0, 3, 28, 28, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 (85927, 2004, 'BOS', 2450, 'AL', 'youklke01', 72, 54, 72, 65, 0, 0, 0, 0, 65, 0, 0, 0, 0, 0, 2, 8, 1)]